.login{
    width: 45%;
    border: 2px solid var(--brand);
    color: var(--brand);
    font-size: 1.1rem;
    font-weight: 700 ;
}
.register{
    width: 45%;
    height: 48px;
    top: 84px;
    border-radius: 0px;
    border: none;
    font-weight: 700;
    font-size: 1.1rem ;
    background-color: var(--brand);
    color: var(--withe)

}
.button-filter{
    width: 90%;
    border: var(--brand) 1px solid;
    color: var(--brand);
    font-size: 1.1rem ;
    background-color: var(--withe);
}
.button-filter:hover{
    background-color: var(--brand);
    color: var(--withe);
}
.clear-x{
    background: none;
    color: var(--withe);
    font-size: 1.1rem ;
    border: none;
    margin-left: 1rem;
}
.cadastro{
    width: 90%;
    height: 2.5rem;
    top: 84px;
    margin-bottom: 1rem;
    border: none;
    background-color: var(--brand);
    color: var(--withe);
    font-size: 1.1rem ;
    font-weight: 700;
}
.retornar{
    width: 90%;
    height: 2.5rem;
    top: 84px;
    margin-bottom: 1rem;
    background-color:var(--withe);
    border: 1px solid var(--brand);
    color: var(--brand);
    font-size: 1.1rem ;
    font-weight: 700;
}
.retornar:hover{
    opacity: 60%;
}
.cadastro:hover{
    opacity: 90%;
}
.Login{
    width: 44%;
    height: 2.5rem;
    top: 84px;
    margin-bottom: 1rem;
    border: none;
    background-color: var(--brand);
    color: var(--withe);
    font-size: 1.1rem ;
    font-weight: 700;
}
.Home{
    width: 45%;
    height: 2.5rem;
    top: 84px;
    margin-bottom: 1rem;
    background-color:var(--withe);
    border: 1px solid var(--brand);
    color: var(--brand);
    font-size: 1.1rem ;
    font-weight: 700;
}
.logout{
    height: 48px;
    width: 142px;
    left: 1178px;
    top: 16px;
    border-radius: 0px;
    border: 1px solid var(--brand);
    color: var(--brand);
    font-size: 1.1rem;
    font-weight: 700;
    background: none;

}
.yesEditUser{
    border:2px solid var(--brand);
    width: 80%;
    border-radius: 0px;
    height: 3.4rem;
    background-color: var(--brand);
    color: var(--withe);
}
.green{
    background-color: var(--green);
    border-color: var(--green);
}
.end-x{
    background: none;
    border: none;
    font-size: 1.3rem;
    font-weight: 600;
    position: absolute;
}
.select-empresa{
    rotate: 90deg;
}
.empresa{
    height: 3rem;
    font-size: 1.1rem;
    font-weight: 500;
}
.empresa:hover{
    background-color: var(--brand);
    color: var(--withe);
}
.end-x-edit{
    background: none;
    border: none;
    margin-top: -9px;
    position: absolute;
    font-size: 1.5rem;
}
.red{
    background-color: var(--alert);
    border-color: var(--alert);
}
.buttonxx{
    background: none;
    border: none;
    margin-bottom: -3rem;
    font-size: 1.2rem;
    margin-right: -2rem;
}
.contrato{
    height: 48px;
    width: 157px;
    left: 3032px;
    top: 2709px;
    border-radius: 0px;
    color: var(--withe);
    border: none;
    margin-top: 14px;
    background-color: var(--green);
    font-size: 1.2rem;

}
.users-but > button{
    width: 200px;
    background-color: var(--withe);
    border: 1px solid var(--green);
    color: var(--green);
}
.users-but > button:hover{
    background-color: var(--green);
    color: var(--withe);
}
.xxx{
    margin-top: 1rem;
    background: none;
    border:none;
    font-size: 1.2rem;
}
.editar-user-ddd{
    height: 48px;
    width: 422px;
    left: 2404px;
    top: 3607px;
    border-radius: 0px;
    color: var(--withe);
    background-color: var(--brand);
    border: 1px solid var(--brand);
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 2rem;
}
.divButt > button{
    background: none;
    border: none;
    font-size: 1.3rem;
    font-weight: 700;
}
.buttLevel{
    font-size: 1.2rem;
    font-weight: 500;
    height: 35px;
    background-color: var(--withe);
    color:  var(--green);
    border: 1px solid var(--green);
}
.butt{
    font-size: 1.2rem;
    font-weight: 500;
    height: 35px;
    background-color: var(--withe);
    color:  var(--green);
    border: 1px solid var(--green);
}
.fechar{
    font-size: 1.2rem;
    font-weight: 500;
    height: 35px;
    background-color: var(--withe);
    color:  var(--green);
    border: 1px solid var(--green);
}
.fechar:hover{
    background-color: var(--alert);
    color: var(--withe);
    border-color:  var(--alert);

}
.buttLevel:hover{
    background-color: var(--green);
    color: var(--withe);
}
.butt:hover{
    background-color: var(--green);
    color: var(--withe);
}
.fechar1{
    font-size: 1.2rem;
    font-weight: 500;
    height: 35px;
    background-color: var(--withe);
    color:  var(--green);
    border: 1px solid var(--green);
}
.fechar1:hover{
    color: var(--withe);
    background-color: var(--alert);
    border-color:  var(--alert);
}
.home{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--brand);
    border: 1px solid var(--brand);
    margin-right: 1rem;
    width: 9rem;
    background: none;
    height: 3rem;
}
.cadastrar{
    background-color: var(--brand);
    width: 9rem;
    height: 3rem;
    color: var(--withe);
    font-size: 1.2rem;
    font-weight: 500;
    border:  1px solid var(--brand);
}
.home:hover{
    opacity: 80%;
}
.cadastrar:hover{
    opacity: 80%;
}
.register:hover{
    opacity: 80%;
}
.login:hover{
    opacity: 80%;
}