.circle{
    height: 0.7rem;
    width: 0.7rem;
    top: 26.39654541015625px;
    background-color: var(--purple);
    border-radius: 0px;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.select{
    border-radius: 0px;
    height: 3.5rem;
    background-color: var(--brand);
    margin-top: 1.5rem;
    width: 90%;
    margin-left: 5%;
}
.space-header{
    width: 90%;
    height: 90%;
}
.select > img{
    left: 240px;
}
.option{
    height: 95px;
    width: 100%;
    left: 0px;
    top: 48px;
    border-radius: 0px;
    background-color: var(--withe);
    position: absolute;
}
.div-options{
    width: 90%;
}
.div-filter{
    width: 100%;
    position: absolute;
}
.form{
    width: 100%;
    background-color: var(--grey500);
}
.open-back{
    height: 80px;
    display: flex;
    align-items: center;
}
.open-back > div > button{
    height: 3rem;
    width: 9rem;
    border-radius: 0px;

}
.section-form{
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
}
.form > input{
    width: 90%;
    height: 2.5rem;
    left: 509px;
    top: 337px;
    border-radius: 0px;
    margin-bottom: 1rem;
    border: 1px solid var(--grey400);
}
.form > div > h1{
    margin-left: 5%;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;

}
.section-login{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}
.div-list{
    width: 100%;
}
.section-user{
    width: 80%;
    height: 121px;
    border: 1px solid var(--grey400);
    margin-left: 10%;
}
.section-user > h2{
    margin-left: 2rem;  
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6rem;
    letter-spacing: 0em;
    text-align: left;
    
}
.section-user > img{
    height: 26.72395896911621px;
    width: 26.72395896911621px;
    border-radius: 0px;
    margin-right: 2rem;
     
}
.div-inform-user{
    margin-left: 2rem;
    width: 60%;
}
.div-list-users{
    width: 80%;
    background-color: var(--brand);
    height: 78px;
    margin-left: 10%;
    border: 1px solid var(--brand);
    color: var(--withe);
    margin-top: 3.4rem;
}
.section-modal-edit{
    position: absolute;
    background-color: var(--brand-back);
}
.form-edit-user{
    width: 40%;
    height: 43%;
    margin-top: -5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--withe);
    padding-bottom: 3rem;
    padding-top: 2rem;
}
.form-edit-user > input{
    border-color: var(--grey400);
    margin-bottom: 0.8rem;
    height: 3.4rem;
    width: 80%;
    border-radius: 0px;
    
}

.div-admin > h2{
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}
.div-admin > div{
    height: 32px;
    width: 282px;
    left: 586px;
    top: 184px;
    border-radius: 15px;
    border: 1px solid ;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.div-x{
    margin-bottom: -0.5rem;
}
.div-admin-select > p {
    margin-right: 1rem;
}
.div-admin-select > img {
    height: 7.074999809265137px;
    width: 12px;
    left: 6px;
    top: 8.300048828125px;
    border-radius: 0px;
}
.div-admin > button{
    height: 48px;
    width: 150px;
    left: 1172px;
    top: 173px;
    border-radius: 0px;
    border: 1px solid var(--brand);    
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--withe);
    background-color: var(--brand);
    
}
.empresas2{
    width: 30%;
    height:350px ;
    background-color: var(--withe);
    position: absolute;
    margin-top: -5.111rem;
    margin-right: -6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    -webkit-box-shadow: -1px 3px 18px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 18px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 18px -1px rgba(0,0,0,0.75);
    overflow-y: scroll;

}
.empresas > button{
    width: 100%;
    height: 5rem;
    border: 1px solid var(--brand);
    color: var(--brand);
}
.form-edit{
    border: 1px solid;
    background-color: var(--withe);
    height: 330px;
    width: 506px;
    padding-top: 1rem;
}
.form-edit > h1{
    font-size: 33px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}
.form-edit > button{
    height: 48px;
    left: 3517px;
    top: 3196px;
    border-radius: 0px;
    background-color: var(--brand);
    border-color: var(--brand);
    color: var(--withe);
    margin-bottom: 2rem;

}
.form-edit > textarea{
    resize: none;
    margin-bottom: 0.9rem;
    width: 78.5%;
}
.delet{
    height: 342px;
    width: 70%;
    left: 4045px;
    top: 2530px;
    border-radius: 0px;
    box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.75);
    background-color: var(--withe);
}
.delet > h1{
    width: 50%;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
}
.delet > button{
    margin-top: 38px;
    margin-bottom: 38px;
    height: 48px;
    width: 422px;
    left: 4201px;
    top: 2758px;
    border-radius: 0px;
    background-color: var(--green);
    border:none;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;    
    color: var(--withe);
}
.delet > div> button{
    background: none;
    border: none;
    border-radius: 0px;
    font-size: 1.3rem;
}
.form-creat-departament{
    background-color: var(--withe);
    height: 402px;
    width: 506px;
    left: 3475px;
    top: 2530px;
    border-radius: 0px;
    box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.75);    
}
.form-creat-departament > input{
    height: 52px;
    width: 85%;
    left: 3517px;
    top: 2643px;
    border-radius: 0px;
    margin-bottom: 0.8rem;    
    border: 2px solid var(--grey400)
}
.divvv{
    height: 52px;
    width: 85%;
    left: 3517px;
    top: 2643px;
    border-radius: 0px;
    margin-bottom: 0.8rem;    
    border: 2px solid var(--grey400)
}
.form-creat-departament > h1{
    width: 85%;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    
}
.form-creat-departament > div > p{
    font-size: 0.88rem;
    margin-left: 3px;
}
.form-creat-departament > div > img{
    margin-right: 1.3rem;
    height: 7.074999809265137px;
    width: 12px;
    left: 6px;
    top: 8.300048828125px;
    border-radius: 0px;
}
.form-creat-departament > button{
    margin-bottom: 40px;
    height: 48px;
    width: 85%;
    left: 3518px;
    top: 2839px;
    border-radius: 0px;
    border: 1px solid var(--brand);
    color: var(--withe);
    background-color: var(--brand);
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    
}
.div-emp{
    width: 300px;
    display: flex;
    max-height: 250px;
    flex-direction: column;
    position: absolute;
    margin-left: 53%;
    margin-top: 432px;
    overflow-y: scroll;
}
.div-emp > button{
    color: var(--brand);
    border: 2px solid var(--brand);
    background-color: var(--withe);
    font-size: 1rem;
}
.div-emp > button:hover{
    background-color: var(--brand);
    color: var(--withe);
}
.div-abs{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
.div-users{
    background-color:  var(--withe);
    height: 637px;
    width: 857px;
    left: 2371px;
    top: 2530px;
    border-radius: 0px;
}
.select-user{
    margin-top: 0.7rem;
    height: 52px;
    width: 350px;
    left: 2767px;
    top: 2643px;
    border-radius: 0px;
    border: 1px solid  var(--grey400);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
}
.select-user > img{
    margin-right: 0.5rem;
}
.div-list--{
    width: 80%;
}
.cardSucesso{
    position: fixed;
    animation-name: animação;
    margin-top: 9rem;
    background-color:  var(--withe);
    border-radius: 4px;
    border: 1px solid  var(--green);
    width: 380px;
    height: 100px;
    margin-left: -400px;
    animation-duration: 4s;
}
@keyframes animação {
    0% {bottom: 30px; right:-250px}
    25% {bottom: 30px; right:10px}
    50% {bottom: 30px; right:10px}
    100% {bottom: 30px; right:-500px}
}
.cardSucesso > h2{
    font-size: 1.2rem;
}
.bola{
    margin-right: 1rem;
    margin-left: 1rem;
    background-color: var(--green);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    
}
.users{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.users-but{
    margin-right: -500px;
    margin-top: -31%;
    min-height: 300px;
    max-height: 300px;
    overflow-y: auto;
}
.box_li{
    margin-left: 1.65rem;
}
.bbx{
    margin-bottom: 1rem;
}
.box-div{
    height: 342px;
    width: 506px;
    left: 2361px;
    top: 3363px;
    border-radius: 0px;
    background-color: var(--withe);    
}
.select-ddd{
    height: 52px;
    width: 422px;
    left: 2403px;
    top: 3476px;
    border-radius: 0px;
    border: 1px solid var(--grey400); 
    margin-bottom: 13px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.select-ddd > img{
    margin-right: 1rem;
}
.select-ddd > p{
    margin-left: 1rem;
}
.div-modalidade{
    width: 422px;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 149px;
}
