.flex{
    display: flex;
}
.justify-content{
    justify-content: center;
}
.space-between{
    justify-content: space-between;
}
.align-item{
    align-items: center;
}
.collum{
    flex-direction: column;
}
.center{
    align-content:center;
}
.space-around{
    justify-content: space-around
}
.reverse{
    flex-direction: row-reverse;
}
.fixed{
    position: fixed;
}
.absolute{
    position: absolute;
}
.around{
    justify-content: space-around;
}
.hidden{
    background: none;
    position: absolute;
    bottom: 2000px;
    left: 101%;
}
.end{
    align-items: flex-end;
}